# From: https://gist.github.com/islomar/6704b616463deef606e2

.DS_Store

*.class

bin/
.settings/

.needspull
.repo

.uuid

# Eclipse files
.project
.classpath
.metadata/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# Maven files
target/

# Package Files #
*.jar
*.war
*.ear


